$background: lightblue;

body {
  background: $background;
  font-family: "Helvetica Neue", serif;
}

.container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}
